@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {display:none;}
body{
    font-family: 'Archivo';
}
@font-face {
    font-family: 'Archivo';
    src: url('/assets/ARCHIVO-REGULAR.TTF') format('truetype');
         
    font-weight: 'regular';
    font-style: normal;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('/assets/ARCHIVO-MEDIUM.TTF') format('truetype');
         
    font-weight: 'medium';
    font-style: normal;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('/assets/ARCHIVO-SEMIBOLD.TTF') format('truetype');
         
    font-weight: 'semibold';
    font-style: normal;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('/assets/Archivo-Light.ttf') format('truetype');
         
    font-weight: 'thin';
    font-style: normal;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('/assets/ARCHIVO-SEMIBOLD.TTF') format('truetype');
         
    font-weight: 'extra-thin';
    font-style: normal;
  }
  @font-face {
    font-family: 'Archivo';
    src: url('/assets/Archivo-Bold.ttf') format('truetype');
         
    font-weight: 'bold';
    font-style: normal;
  }

  @font-face {
    font-family: 'EditorialNew';
    src: url('/assets/PPEditorialNew-Regular.otf') format('opentype');
         
    font-weight: 'regular';
    font-style: normal;
  }
  @font-face {
    font-family: 'EditorialNew';
    src: url('/assets/PPEditorialNew-Ultrabold.otf') format('opentype');
         
    font-weight: 'bold';
    font-style: normal;
  }
  @font-face {
    font-family: 'EditorialNew';
    src: url('/assets/PPEditorialNew-Ultralight.otf') format('opentype');
         
    font-weight: 'thin';
    font-style: normal;
  }